#!/bin/bash

myCompanyLDPAUserName="dummyValuemyCompanyLDPAUserName"

gitDefaultUserName="${myCompanyLDPAUserName}"
gitDefaultUserEmail="${myCompanyLDPAUserName}@myCompanyEmailDomainName"

ipSuffixForDockerForDeveloper='dummyValueDockerIpPrefix'
