#!/bin/bash

wlcBashScriptsFolderName=dummyValueBashScriptsFolderName # DO NOT QUOTE THIS VALUE!
wlcBashScriptsFolderPath=~/$wlcBashScriptsFolderName # DO NOT QUOTE THIS VALUE!



# There are important and but be executed first.
source "$wlcBashScriptsFolderPath/_utilities/detect-environment.sh"
source "$wlcBashScriptsFolderPath/_utilities/alphabetically-run-all-shells-in-a-folder.sh"


# This file will be automatically created during making process.
source "$wlcBashScriptsFolderPath/packages.sh"




# ------------------------------------------------
#     import all defined variables
# ------------------------------------------------
for ___categoryFolder in ${__wlcBashScriptsAllChosenPacakges}
do
    ___bashScriptsCurrentPath="${wlcBashScriptsFolderPath}/${___categoryFolder}"

    if [ -f "$___bashScriptsCurrentPath/define-variables.sh" ]; then
        source "${___bashScriptsCurrentPath}/define-variables.sh"
    fi
done
unset ___bashScriptsCurrentPath
unset ___categoryFolder





# ------------------------------------------------
#     import functions and aliases
# ------------------------------------------------
for ___categoryFolder in ${__wlcBashScriptsAllChosenPacakges}
do
    alphabetically-run-all-shells-in-a-folder "${wlcBashScriptsFolderPath}/${___categoryFolder}/components"
done
unset ___categoryFolder





# ------------------------------------------------
#     take some initial actions
# ------------------------------------------------
for ___categoryFolder in ${__wlcBashScriptsAllChosenPacakges}
do
    ___bashScriptsCurrentPath="${wlcBashScriptsFolderPath}/${___categoryFolder}"

    if [ -f "$___bashScriptsCurrentPath/init.sh" ]; then
        source "$___bashScriptsCurrentPath/init.sh"
    fi
done
unset ___bashScriptsCurrentPath
unset ___categoryFolder





# ------------------------------------------------
#     Finalization
# ------------------------------------------------
# unset wlcBashScriptsFolderPath # 不能删除该变量。加载动态变量时，该变量用于拼装源文件路径。
unset __wlcBashScriptsAllChosenPacakges
