#!/bin/bash

# ------------------------------------------------
#     这些配置因人而异
# ------------------------------------------------
# 一下程序，例如 rsync 不支持类似 `d:/projects` 的写法，
# 因为其中含有冒号，这些程序会将其视作一个远程地址。
# 所以，要套用一次 `$(WinDrive d)` 将其转译为安全的写法。
pathMyLocalMachineOrganizationProjectsRoot="$(WinDrive d)/projects/unamed-org"
